.btn{
    width: 400px;
    height: 60px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #603162;
    border-radius: 5%;
    border: whitesmoke,solid,4px;
    border-color: whitesmoke;
    margin-top: 40px;
}

.code{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color:#603162;
    transform: translate(0,-20px);
}

.select{
    width: 120px;
    height: 25px;
    border-radius: 3%;
    transform: translate(0,-35px);
}

.table{
    width: 150px;
    height: 100px;
    transform: translate(830px,-120px);
    border: 2px #603162 solid;
    position: absolute;
    border-collapse: collapse;
    table-layout: fixed;
}

.table th{
    font-size: small;
    background-color: #9E8DB3;
    border: 1px black solid;
}

.table td{
    border: 1px black solid;
    font-size: small;
}

.text{
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    color:#603162;
    text-align: center;
    transform: translate(50px,0px);
    line-height: 250%;
    position: absolute;
}

.data1{
    height: 35px;
    width: 300px;
    text-align: center;
    border-radius: 3%;
    transform: translate(84px,0);
}

.data2{
    height: 35px;
    width: 300px;
    text-align: center;
    border-radius: 3%;
    transform: translate(57px,0);
}

.data3{
    height: 35px;
    width: 300px;
    text-align: center;
    border-radius: 3%;
    transform: translate(57px,0);
}

.data4{
    height: 35px;
    width: 300px;
    text-align: center;
    border-radius: 3%;
    transform: translate(75px,0);
}

.data5{
    height: 35px;
    width: 300px;
    text-align: center;
    border-radius: 3%;
    transform: translate(75px,0);
}

.data6{
    height: 35px;
    width: 300px;
    text-align: center;
    border-radius: 3%;
    transform: translate(57px,0);
}

.data7{
    height: 35px;
    width: 300px;
    text-align: center;
    border-radius: 3%;
    transform: translate(57px,0);
}

.data8{
    height: 35px;
    width: 300px;
    text-align: center;
    border-radius: 3%;
    transform: translate(30px,0);
}

.goukei{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #603162;
    transform: translate(45px,40px);
    position: absolute;
}

.goukeibtn{
    width: 150px;
    height: 150px;
    border-radius: 3%;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(43px,63px);
    position: absolute;
}

.displaybtn1{
    width: 45px;
    height: 40px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: #603162;
    border-radius: 25%;
    transform: translate(150px,18px);
    border: 1px #603162 solid;
}

.rank{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #603162;
    transform: translate(262px,20px);
    position: absolute;
}

.rankbtn{
    width: 150px;
    height: 150px;
    border-radius: 3%;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(260px,43px);
    position: absolute;
}

.displaybtn2{
    width: 45px;
    height: 40px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: #603162;
    border-radius: 25%;
    transform: translate(363px,0px);
    border: 1px #603162 solid;
}

.kirokubtn{
    width: 180px;
    height: 40px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #603162;
    border-radius: 5%;
    border: whitesmoke,solid,4px;
    border-color: whitesmoke;
    margin-top: 40px;
    transform: translate(230px,230px);
}
